# Dépendances
node_modules
.pnpm-store

# Config locale (branding interne, quizz, mot de passe)
/config

# Secrets
.env
.secrets

# Inutile pour le build Docker
.vscode
oxlint.config.ts
.prettierignore
.prettierrc.json
event.json
release.json